/* main style */

.scfr .inside {
	padding: 0;
	margin: 0 !important;
}
.scfr .inside:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

.scfr-repeater-nav {
	float: left; 
	width: 180px;
	background-color: #fafafa;
	border-right: 1px solid #ddd;
}
.repeater-nav-items {
	min-height: 1px;
	margin: -1px 0 20px 0;
	position: relative;
	list-style: none;
}
.repeater-nav-item {
	margin: 0 auto;
	position: relative;
}
.repeater-nav-item > a {
	padding: 12px 15px;
	text-decoration: none;
	border-bottom: 1px solid #ddd;
	display: block;
	position: relative;
	letter-spacing: 0.03em;
	outline: none;
	box-shadow: none;
}
.repeater-nav-item[aria-selected="true"]::after {
	content: ' ';
	height: 0;
	width: 0;
	position: absolute;
	top: 50%;
	margin-top: -8px;
	right: -1px;
	border: 8px solid transparent;
	border-right-color: #fff;
}
.repeater-nav-item[aria-selected="true"] > a {
	color: #555d66;
	font-weight: 600;
	background-color: #e5e5e5;
}
.repeater-nav-item > a > .nav-item-count {
	border: 1px solid rgba(30, 140, 190, .8);
    color: #fff;
    border-radius: 17px;
    padding: 5px;
    background-color: #18aad8;
    margin: auto 10px;
    display: inline-block;
    width: 17px;
    text-align: center;
}
.repeater-add, .repeater-remove {
	display: block !important;
	margin: 8px auto !important;
	width: 100px;
	overflow: hidden;
	text-overflow: ellipsis;
	/* fix font size over flowing */
}

.scfr-repeater-content {
	float: left;
	width: calc(100% - 180px);
	margin-left: -1px;
}
.scfr-repeater-content.empty::after {
	content: "\f534  empty";
    font-style: italic;
    position: absolute;
    display: block;
    left: 50%;
    top: 50%;
    height: 20px;
    margin-top: -20px;
    padding: 10px;
    width: 100px;
    margin-left: 10px;
    font-family: dashicons;
    color: #ccc;
    font-size: 20px;
}
.scfr-repeater-content > .scfr-repeater-section {
	padding: 15px;
}
.scfr-repeater-content > .scfr-repeater-section[aria-hidden="false"] {
	display: block;
}
.scfr-repeater-content > .scfr-repeater-section[aria-hidden="true"] {
	display: none;
}

.scfr-row {
	margin-bottom: 20px;
}
.scfr-label {
	display: block !important;
    font-weight: bold;
    display: inline-block;
    margin-bottom: 7px;
}

img.scfr-image {
	width: 150px;
	height: 150px;
}
